* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: darkblue;
    color: white;
    padding: 1rem;
    text-align: center;
}